.tagFlex{
    display: flex;
    align-items: center;
    gap: 10px;
}

.tagDiv{
   border: 1px solid #E5E7EB ; 
   width: 100px;
   height: 30px;
   border-radius: 8px;
   display: flex;
   align-items: center;   
   justify-content: center; 
}


.tagText{
    font-size: 12px;
    text-align: center;
}


.title{
    font-size: 30px;
    font-weight: 600;
    margin-top: 15px;
}

.catAndBrandText{
    font-size: 14px;
    font-weight: 500;
}

.catAndBrandSpanText{
    font-size: 13px;
    font-weight: 400;
    color: gray;
}

.descriptionText{
    font-size: 12px;
    color: gray;
    margin-top: 20px;
}

.discountPrice{
    font-size: 30px;
    font-weight: 600;
}

.price{
     font-size: 18px;
    color: #6a7282;
}

.badgeFlex{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.badge{
    background-color: #EF4444;
    width: 80px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.badgeText{
    font-size: 10px;
    text-align: center;
    color: white;
}


.stockDiv{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
}

.bgGreen{
    background-color: #00C96B;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}


.stocktext{
    font-size: 14px;
    font-weight: 500;
    color: #00C96B;
}